html, body, #map {
    height: 100%;
    margin: 0;
    background: rgb(0, 0, 0);
  }
  
  .leaflet-tooltip {
    background: rgba(0, 0, 0, 0.85);
    border: 1px solid #0077cc;
    color: #0077cc;
    font-size: 5px;
    padding: 1px 4px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    pointer-events: none;
    font-weight: normal;
  }
  